In [1]:
import pandas as pd
import os
import random

In [45]:
class MovieDataLoader:
    def __init__(self, file_path = '../../data'):
        self.file_path = file_path
        self.__load_data()

    def __load_data(self):
        for file_name in os.listdir(self.file_path):
            self.file_name = []
            if file_name.endswith('.csv'):
                setattr(self, os.path.splitext(file_name)[0], pd.read_csv(os.path.join(self.file_path, file_name)))
            if file_name.endswith('.txt'):
                setattr(self, os.path.splitext(file_name)[0], pd.read_csv(os.path.join(self.file_path, file_name), sep='\t', engine='python'))


class RandomRecommender:
    def __init__(self, movie_data_loader):
        self.loader = movie_data_loader
        self.movies = self.loader.movies
        self.rates = self.loader.rates

    def run(self):
        self.rates['rate_random'] = [random.randrange(1, 11) for _ in range(len(self.rates))]
        self.rates = self.rates.sort_values(by='rate_random', ascending=False)
        return self.rates

movie_data_loader = MovieDataLoader()
data = RandomRecommender(movie_data_loader).run()
data.head(10)

         user  movie  rate        time  rate_random
140691  52009  10998    10  1356359760           10
42427    3952  10504    10  1282461600           10
42432    3952  10686     9  1278625200           10
42433    3952  10742     8  1309011180           10
42328    3943  10002     8  1156095960           10
42330    3943  10035    10  1213250880           10
42331    3943  10048    10  1103275260           10
42435    3952  10793     8  1322617920           10
42437    3952  10912     8  1313408460           10
42440    3953  10002    10  1316397240           10