In [1]:
import pandas as pd
import os
import random

In [ ]:
class MovieDataLoader:
    def __init__(self, file_path = '../data'):
        self.file_path = file_path
        self.__load_data()

    def __load_data(self):
        for file_name in os.listdir(self.file_path):
            self.file_name = []
            if file_name.endswith('.csv'):
                setattr(self, os.path.splitext(file_name)[0], pd.read_csv(os.path.join(self.file_path, file_name)))
            if file_name.endswith('.txt'):
                setattr(self, os.path.splitext(file_name)[0], pd.read_csv(os.path.join(self.file_path, file_name), sep='\t', engine='python'))


class RandomRecommender:
    def __init__(self, movie_data_loader):
        self.loader = movie_data_loader
        self.movies = self.loader.movies
        self.rates = self.loader.rates

    def run(self):
        self.rates['rate_random'] = [random.randrange(1, 11) for _ in range(len(self.rates))]
        self.rates = self.rates.sort_values(by='rate_random', ascending=False)
        return self.rates

movie_data_loader = MovieDataLoader("../data")
data = RandomRecommender(movie_data_loader).run()
data.head(10)

         user  movie  rate        time  rate_random
12          0  10047     8  1453603020           10
140709  52027  10998    10  1227036960           10
140687  52005  10998     9  1472986980           10
140685  52003  10998    10  1375379940           10
13          0  10048     7  1394114760           10
42061    3899  10002    10  1230176940           10
42062    3899  10501    10  1275747060           10
42091    3900  10253     1  1222924080           10
42100    3902  10114    10  1187627400           10
42106    3903  10003    10  1410113700           10